@charset "UTF-8";

/* jquery-replacebox-0 */
#jquery-replacebox-0 {
  width: 300px;
  margin: 0;
  padding: 10px 20px 20px 20px;
  background: #CCC;
}

#jquery-replacebox-0 .jquery-replacebox {
  width: 298px;
  margin: 10px 0 0 0;
  padding: 30px 0;
  border: 1px solid #000;
  text-align: center;
  background: #FFF;
}

/* jquery-replacebox-1 */
#jquery-replacebox-1 {
  width: 1000px;
  margin: 0;
  padding: 10px 10px 20px 20px;
  background: #CCC;
}

#jquery-replacebox-1 .jquery-replacebox {
  width: 298px;
  margin: 10px 10px 0 0;
  padding: 30px 0;
  border: 1px solid #000;
  text-align: center;
  background: #FFF;
  float: left;
}

#jquery-replacebox-1 .jquery-replacebox .up {
  text-align: left;
}

#jquery-replacebox-1 .jquery-replacebox .down {
  text-align: right;
}

/* jquery-replacebox-2 */
#jquery-replacebox-2 {
  width: 300px;
  margin: 0;
  padding: 10px 20px 20px 20px;
  background: #CCC;
}

#jquery-replacebox-2 .jquery-replacebox {
  width: 298px;
  margin: 10px 0 0 0;
  padding: 0;
  border: 1px solid #000;
  background: #FFF;
  text-align: center;
}

#jquery-replacebox-2 .jquery-replacebox .handle {
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  background: #EDEDED;
  text-indent: -9999px;
  border-bottom: solid 1px #999999;
  overflow: hidden;
  cursor: move;
}

#jquery-replacebox-2 .jquery-replacebox .contents {
  margin: 0;
  padding: 20px 0;
}

#jquery-replacebox-2 .jquery-replacebox.nosort {
  background: #CCCCCC !important;
}

/* jquery-replacebox-3 */
#jquery-replacebox-3 {
  width: 1000px;
  margin: 0;
  padding: 10px 10px 20px 20px;
  background: #CCC;
}

#jquery-replacebox-3 .jquery-replacebox {
  width: 298px;
  margin: 10px 10px 0 0;
  padding: 0;
  border: 1px solid #000;
  text-align: center;
  background: #FFF;
  float: left;
}

#jquery-replacebox-3 .jquery-replacebox .up {
  text-align: left;
}

#jquery-replacebox-3 .jquery-replacebox .down {
  text-align: right;
}

#jquery-replacebox-3 .jquery-replacebox .handle {
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  background: #EDEDED;
  text-indent: -9999px;
  border-bottom: solid 1px #999999;
  overflow: hidden;
  cursor: move;
}

#jquery-replacebox-3 .jquery-replacebox .contents {
  margin: 0;
  padding: 20px 0;
}

#jquery-replacebox-3 .jquery-replacebox.nosort {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
  background: #CCCCCC !important;
}


/*
============================================================
	clearfix
============================================================
*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
